/* General */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  margin: 0;
}
body * {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a:not(.button) {
  color: #000000;
  text-decoration: underline;
}

.button,
.hs-button {
  font-size: 1.125rem;
  line-height: 1.3125rem;
  border: none;
  box-shadow: none;
  background: #104664;
  color: #ffffff;
  font-weight: 500;
  padding: 1.5rem 2rem;
  text-decoration: none;
  border-radius: 9px;
  transition: all 300ms ease;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.button:hover, .button:focus,
.hs-button:hover,
.hs-button:focus {
  background: #073956;
}
.button.reverse,
.hs-button.reverse {
  background: #ffffff;
  color: #104664;
}
.button.reverse:hover, .button.reverse:focus,
.hs-button.reverse:hover,
.hs-button.reverse:focus {
  background: #cdcdcd;
}

.container {
  max-width: 94rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-weight: 400;
  color: #104664;
}

h2 {
  font-size: 38px;
  font-weight: 400;
  color: #104664;
}

.text-center {
  text-align: center;
}

.checklist {
  list-style: none;
  margin: 0 0 3rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: auto;
  padding: 0;
}
.checklist li {
  padding-left: 3rem;
  position: relative;
}
.checklist li:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-image: url("../img/checkmark.svg");
  width: 35px;
  height: 35px;
  display: block;
  content: "";
}

img.full-size {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  display: block;
}

.apex-47 {
  white-space: nowrap;
}

/* Sections */
.page-top {
  padding: 4rem 0 2rem;
}

.hero {
  padding: 0 0 4rem;
}
@media (min-width: 768px) {
  .hero {
    padding: 2rem 0 10rem;
  }
}
.hero .hero-row {
  display: grid;
  row-gap: 2rem;
  column-gap: 6rem;
  align-items: center;
}
@media (min-width: 768px) {
  .hero .hero-row {
    grid-template-columns: 3fr 2fr;
  }
}
.hero h1 {
  font-size: 4rem;
  max-width: 610px;
}
.hero p {
  font-size: 20px;
  margin-bottom: 3rem;
  max-width: 540px;
}
.hero img {
  border-radius: 0.5rem;
}

.callout {
  background-color: #104664;
  color: #ffffff;
  padding: 4rem 0;
}
@media (min-width: 768px) {
  .callout {
    padding: 5.5rem 0;
  }
}
.callout h2 {
  font-size: 52px;
  color: #ffffff;
}
.callout p {
  font-size: 20px;
}
.callout p a {
  color: #ffffff;
}
.callout .container {
  max-width: 63rem;
  text-align: center;
}

.features {
  padding: 4rem 0;
}
@media (min-width: 768px) {
  .features {
    padding: 5.5rem 0;
  }
}
.features .features-row {
  display: grid;
  row-gap: 2rem;
  column-gap: 6rem;
  align-items: start;
}
@media (min-width: 768px) {
  .features .features-row {
    grid-template-columns: 3fr 2fr;
  }
}
.features .bigger {
  font-weight: 500;
  font-size: 20px;
}
.features h2 {
  font-size: 38px;
}
.features .checklist {
  gap: 0;
}
.features .checklist li {
  display: block;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.features .checklist li:before {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}

.research {
  padding: 4rem 0;
}
@media (min-width: 768px) {
  .research {
    padding: 5.5rem 0;
  }
}
.research .research-row {
  display: grid;
  row-gap: 2rem;
  column-gap: 6rem;
  align-items: center;
}
@media (min-width: 768px) {
  .research .research-row {
    grid-template-columns: 3fr 2fr;
  }
}
.research h2 {
  font-size: 38px;
}
.research img {
  border-radius: 0.5rem;
}

.challenge {
  padding: 4rem 0;
}
@media (min-width: 768px) {
  .challenge {
    padding: 5.5rem 0;
  }
}
.challenge img {
  border-radius: 0.5rem;
  display: block;
}
.challenge .challenge-row {
  display: grid;
  row-gap: 2rem;
  column-gap: 6rem;
  align-items: start;
}
@media (min-width: 768px) {
  .challenge .challenge-row {
    grid-template-columns: 2fr 3fr;
  }
}
.challenge h2 {
  font-size: 38px;
}
.challenge .bigger {
  font-weight: 500;
  font-size: 20px;
}
.challenge .checklist {
  gap: 0;
}
.challenge .checklist li {
  display: block;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.challenge .checklist li:before {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}
.challenge .challenge-box {
  background: #FCFCFC;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 33px 13px rgba(0, 0, 0, 0.01), 0px 18px 11px rgba(0, 0, 0, 0.02), 0px 8px 8px rgba(0, 0, 0, 0.03), 0px 2px 5px rgba(0, 0, 0, 0.04);
  border-radius: 23px;
  padding: 4rem 2.5rem;
}

.logos {
  overflow: hidden;
  width: auto;
  padding: 2rem 0 4rem;
}
.logos .logo-scroller {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.logos .logo-scroller ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  align-items: center;
  flex: 0 0 auto;
  animation-name: logoScroll;
  animation-iteration-count: infinite;
  animation-duration: 14000ms;
  animation-timing-function: linear;
}
.logos .logo-scroller ul li {
  flex-grow: 1;
  margin-right: 4rem;
}

.testimonials {
  padding: 4rem 0;
  background-size: cover;
  background-position: center;
  background-image: url("../img/testimonials-background.png");
  background-color: #104664;
  color: #ffffff;
}
@media (min-width: 768px) {
  .testimonials {
    padding: 6rem 0;
  }
}
.testimonials h2 {
  font-size: 52px;
  color: #ffffff;
}
.testimonials .testimonials-row {
  row-gap: 2rem;
  column-gap: 2.5rem;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
}
@media (min-width: 768px) {
  .testimonials .testimonials-row {
    grid-template-columns: 3fr 5fr;
  }
}
.testimonials .testimonial {
  margin: 0;
  border: 0;
  padding: 4.25rem 2.5rem;
  background: #FCFCFC;
  border-radius: 23px;
  font-size: 20px;
  color: #000000;
}
.testimonials .testimonial cite {
  position: relative;
  padding-top: 1rem;
  margin-top: 1rem;
  display: block;
  font-size: 1rem;
  font-style: normal;
}
.testimonials .testimonial cite:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2px;
  background: #104664;
  display: block;
  content: "";
}

.tax-credit {
  padding: 4rem 0;
  background-size: cover;
  background-position: center;
  background-image: url("../img/tax-background.jpg");
}
.tax-credit .container {
  max-width: 60rem;
  text-align: center;
}
@media (min-width: 768px) {
  .tax-credit {
    padding: 5.5rem 0;
  }
}
.tax-credit h2 {
  font-size: 52px;
  color: #104664;
}
.tax-credit .bigger {
  font-size: 20px;
}
.tax-credit i {
  opacity: 0.75;
}

.contact {
  padding: 4rem 0;
  border-top: 7px solid #104664;
}
@media (min-width: 768px) {
  .contact {
    padding: 5.5rem 0;
  }
}
.contact .contact-row {
  display: grid;
  row-gap: 2rem;
  column-gap: 8rem;
  align-items: center;
}
@media (min-width: 768px) {
  .contact .contact-row {
    grid-template-columns: 1fr 1fr;
  }
}
.contact .contact-form {
  background: #FCFCFC;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 33px 13px rgba(0, 0, 0, 0.01), 0px 18px 11px rgba(0, 0, 0, 0.02), 0px 8px 8px rgba(0, 0, 0, 0.03), 0px 2px 5px rgba(0, 0, 0, 0.04);
  border-radius: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 2.5rem;
}

.footer {
  padding: 4rem 0;
  background: #104664;
  color: #ffffff;
}
.footer .footer-logo {
  display: block;
  width: 246px;
}
.footer .footer-contents {
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
}
@media (min-width: 768px) {
  .footer .footer-contents {
    align-items: center;
    grid-template-columns: 1fr 200px 1fr;
  }
}
.footer .footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 2rem;
}
@media (min-width: 768px) {
  .footer .footer-list {
    justify-content: flex-end;
    align-items: center;
  }
}
.footer .footer-list li {
  display: inline;
}
.footer .footer-list li a {
  color: #ffffff;
}
.footer .footer-list li a.facebook, .footer .footer-list li a.instagram, .footer .footer-list li a.linkedin {
  display: block;
  text-indent: -999999px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.footer .footer-list li a.facebook {
  width: 15px;
  height: 28px;
  background-image: url("../img/facebook.svg");
}
.footer .footer-list li a.instagram {
  width: 28px;
  height: 29px;
  background-image: url("../img/instagram.svg");
}
.footer .footer-list li a.linkedin {
  width: 27px;
  height: 27px;
  background-image: url("../img/linkedin.svg");
}

@keyframes logoScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
form fieldset {
  max-width: 1000px !important;
  display: grid;
  grid-template-columns: auto;
  column-gap: 1.125rem;
}
@media (min-width: 500px) {
  form fieldset.form-columns-2 {
    grid-template-columns: 1fr 1fr;
  }
}
form fieldset .hs-form-field {
  margin-bottom: 1.5rem;
  width: 100% !important;
  float: inherit !important;
}
form label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}
form .hs-error-msgs {
  list-style: none;
  margin: 0.25rem 0 0.5rem;
  display: block;
  padding: 0;
}
form .hs-error-msgs label {
  font-size: 0.75rem;
}
form .input {
  margin: 0;
}
form input:not([type=submit]),
form select {
  width: 100%;
  padding: 1rem;
  border: 1px solid #000000;
  border-radius: 0.3125rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}
form .inputs-list {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}
form .hs_submit {
  margin-top: 2rem;
}
form .hs_submit input {
  width: auto;
}

/*# sourceMappingURL=styles.css.map */
